.env
.env.backup
.phpunit.result.cache
.tailwindcss-manifest.json

/bootstrap/ssr
/node_modules
/public/css/
/public/dist/
/public/js
/public/storage
/public/build
/storage/*.key
/vendor

docker-compose.override.yml
npm-debug.log
tailwindcss
yarn-error.log
